* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

a {
  color: inherit;
}

button {
  cursor: pointer;
}

.container {
  width: 85%;
  margin: 0 auto;
  max-width: 1440px;
}

.users {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}
.users__title {
  font-size: 50px;
  text-align: center;
  padding: 0px 0px 20px;
}
.users__card {
  box-shadow: 1px 1px 10px gray;
  border-radius: 10px;
}
.users__card__info {
  padding: 20px;
}
.users__card__desc {
  font-size: 16px;
}

.loading {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.loading__card {
  box-shadow: 1px 1px 10px gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.loading__card__info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
  height: 200px;
}
.loading__card__img {
  width: 100%;
  height: 300px;
}
.loading .bg__animation {
  background: linear-gradient(90deg, #eee, #ddd, #eee);
  background-size: 200%;
  animation: bgMove 1s linear 0s infinite;
}
@keyframes bgMove {
  to {
    background-position: 200%;
  }
}